---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}
    <style>
      #clustrmaps-container {
        width: 50%; /* 使容器宽度自动调整 */
        max-width: 600px; /* 设置最大宽度 */
        height: 400px; /* 设置固定高度 */
      }
    </style>

<div id="clustrmaps-container">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=5cAE0lZUKEbZI7WqPBGKhZHEZwBgRJcLVslJW-FNv3w&cl=ffffff&w=a"></script>
</div>

<div class="footer_site">
<hr/>
<div class="footer_copyright">
</div>
</div>
  </body>
</html>
